@model IEnumerable<ClassLibrary1.Models.Restaurant>


@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Restaurants</h1>
 
    <div>
        There are @Model.Count() number of cuisines
    </div>

    <ul>
       
    </ul>
</div>
