
@model ClassLibrary1.Models.Restaurant


<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-body">@Model.Name</h3>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Details", "Details", new { id = Model.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = Model.Id })
    </div>
</div>